.nav-icons {
   margin-top: 7px !important;
}

@media only screen and (max-width:1200px) {
   .nav-icons {
      margin-top: 30px;
   }
}

.breadcrumbsContainer {
   margin-left: 245px;
}

.header-logo img {
   padding-top: 3px;
}

.header-logo {
   width: 80px;
}

@media only screen and (max-width:900px) {
   .icsm-logo {
      display: none !important;
   }
}

.applicationTitle {
   padding-left: 20px;
   font-size: 200%;
}

.common-header {
   background-color: white;
}

.searchBar {
   position: fixed;
   top: 18px;
   right: 118px;
   width: 35em;
   z-index: 2000;
	width:27em;
	opacity:0.9;
}

@media only screen and (max-width:1100px) {
	.searchBar {
		width:23em;
	}
}
.sub-heading {
   font-size:120%;
   padding-left:15px;
   margin:5px;
}