@media print {
    @page {
        size: landscape;
    }

    .noPrint {
       display: none;
    }

    .printOnly {
        display : inline !important;
    }

    .contentContainer {
        max-width:100% !important;
        overflow: hidden !important;
        left:0px !important;
    }

    .panel-inner-container {
        display : none !important;
    }

    .leaflet-control-mouseposition{
        display : none !important;
    }

    .leaflet-control-attribution{
        display : none !important;
    }
}
