.placenamesTabs {
	position:absolute;
	top:60px;
	right:30px;
	z-index:1;
}

.placenamesTabsOpen {
	right:30px;
}


.panesMapContainer {
	z-index:0;
	width:100%;
	height:100%;
}

.placenamesPanesRow {
	height:100%;
	margin-right:0;
}

.placenamesPanesCol {
	height:100%;
}

.paneTabsMain {
	position: absolute;
	top: 0px;
	bottom:0px;
	padding-top: 8px;
	right: 0px;
	background: #FFF;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.panesTabsContainer {
	position: absolute;
    width: 9999px;
	z-index: inherit;
	/* keeps ie happy for mousemove events */
	background: rgba(255, 255, 255, 0);
}

.paneRotateTabs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -sand-transform: rotate(90deg);
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    display: block;
}

.paneTabItem {
	float: right;
	padding: 5px 15px 0px 15px;
	border: 1px solid #999;
	background: #FFF;
	cursor: pointer;
	height: 30px;
}


.panesTabContentItem {
	background: #FFF;
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}
