<uib-accordion>
   <div uib-accordion-group class="panel-default" is-open="status.groupOpen">
      <uib-accordion-heading>
         Filter<span ng-if="summary.filterBy==='group' && summary.current.length">ing</span> by group...
         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.groupOpen, 'glyphicon-chevron-right': !status.groupOpen}"></i>
      </uib-accordion-heading>
      <div style="max-height: 200px; overflow-y: auto">
         <placenames-groups update="update()" ng-show="status.groupOpen"></placenames-groups>
      </div>
   </div>
   <div uib-accordion-group class="panel-default" is-open="status.catOpen">
      <uib-accordion-heading>
         Filter<span ng-if="summary.filterBy==='category' && summary.current.length">ing</span> by category...
         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.catOpen, 'glyphicon-chevron-right': !status.catOpen}"></i>
      </uib-accordion-heading>
      <div style="max-height: 200px; overflow-y: auto">
         <placenames-categories update="update()" ng-show="status.catOpen"></placenames-categories>
      </div>
   </div>
   <div uib-accordion-group class="panel-default" is-open="status.featureOpen">
      <uib-accordion-heading>
         Filter<span ng-if="summary.filterBy==='feature' && summary.current.length">ing</span> by feature...
         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.featureOpen, 'glyphicon-chevron-right': !status.featureOopen}"></i>
      </uib-accordion-heading>
      <div style="max-height: 200px; overflow-y: auto">
         <placenames-features update="update()" ng-show="status.featureOpen"></placenames-features>
      </div>
   </div>
</uib-accordion>
<div class="panel panel-default" style="margin-top: -15px">
   <div class="panel-heading">
      <h4 class="panel-title">
         Filter<span ng-if="summary.authorities.length">ing</span> by authority...
      </h4>
   </div>
   <div style="max-height: 200px; overflow-y: auto; padding:5px">
      <placenames-authorities update="update()"></placenames-authorities>
   </div>
</div>