.searched-disclaimer {
   margin: 3px;
   padding: 3px;
   border: solid 1px lightgray;
   border-radius: 3px;
}

.searched-download {
   border-bottom: 2px solid gray;
   margin-bottom: 8px;
}

.searched-end-of {
   max-width: 70%;
}