<div class="pn-results-heading" style="min-height:25px" ng-if="data.searched">
   <span ng-if="data.searched.item">
      Showing selected feature
   </span>
   <span ng-if="!data.searched.item">
      Matched {{data.searched.data.response.numFound | number}} features
   </span>
   <span class="pull-right">
      <button class="btn btn-primary" style="padding:0 10px" ng-click="showDownload = !showDownload">
         <span ng-if="!showDownload">Download...</span>
         <span ng-if="showDownload">Hide download details</span>
      </button>
      <button class="btn btn-primary" style="padding:0 10px" ng-if="!data.searched.item && !showDownload" ng-click="clear()">
         Clear results
      </button>
   </span>
   <placenames-search-filters></placenames-search-filters>
   <placenames-searched-download data="data.searched" ng-if="showDownload"></placenames-searched-download>
</div>

<div ng-if="data.searched">
   <div ng-repeat="authority in authorities | activeAuthorities" title="{{authority.jurisdiction}}" style="border-bottom: 1px gray solid;padding:3px 0 3px">
      <placenames-jurisdiction authority="authority"></placenames-jurisdiction>
   </div>
</div>
<div ng-if="!data.searched">
   <div class="panel-heading" style="min-height:25px">
      <span style="font-weight:bold">
         Need help on how to search?
      </span>
   </div>
   <div class="panel-body">
      Searching is conducted on the current map view. Pan and zoom the map to your area of interest
      <br/>
      <br/>
      <span class="padding-left:5px">You can apply filters for:</span>
      <div class="well">
         Features matching on partial or like name, groups, categories and features.
         <br/> You can restrict results to only authorities of interest.
         <br/>
         <br/> Once you have zoomed, panned and filtered to your desired results hit the search button to list details with the option to download in a variety of projections and formats.
         <br/>
         <br/>
         <b title="nota bene">NB</b> Name searching is done on "fuzzy" searching which means it isn't always an exact match but a match something like what is typed.
      </div>
      <div>
         If you are interested in features in the Antarctic consider using the
         <a href="antarctic.html">search specific to the polar view</a>
      </div>
   </div>
</div>