<div class="row">
   <div class="col-md-3" style="text-align:center">
      <a href="{{authority.href}}" target="_blank">
         <img ng-src="{{authority.image}}" ng-attr-style="height:{{authority.height}}px">
      </a>
   </div>
   <div class="col-md-9">
      <strong ng-bind-html="authority.name"></strong>
      <div>
         <a ng-if="authority.metadata" ng-href="{{authority.metadata}}" target="_blank">[metadata]</a>
         <a ng-if="authority.disclaimer" ng-click="authority.showDisclaimer = !authority.showDisclaimer">[disclaimer]</a>
      </div>
   </div>
</div>
<div ng-show="authority.showDisclaimer" class="searched-disclaimer" ng-bind-html="authority.disclaimer"></div>
<antarctic-feature feature="item"></antarctic-feature>