<div class="row">
   <div class="col-md-3" style="text-align:center">
      <a href="{{authority.href}}" target="_blank">
         <img ng-src="{{authority.image}}" ng-attr-style="height:{{authority.height}}px">
      </a>
   </div>
   <div class="col-md-6">
      <strong ng-bind-html="authority.name"></strong>
      <div>
         <a ng-if="authority.metadata" ng-href="{{authority.metadata}}" target="_blank">[metadata]</a>
         <a ng-if="authority.disclaimer" ng-click="authority.showDisclaimer = !authority.showDisclaimer">[disclaimer]</a>
      </div>
   </div>
   <div class="col-md-3" style="float:right;">
      ({{authority.count | number:0}} features)
      <div>
         <a ng-click="toggle()" class="searched-important">[{{showing?'hide':'show'}} list]</a>
      </div>
   </div>
</div>
<div ng-show="authority.showDisclaimer" class="searched-disclaimer" ng-bind-html="authority.disclaimer"></div>
<div ng-show="showing">
   <placenames-feature ng-repeat="feature in features" feature="feature"></placenames-feature>
   <div class="row">
      <div class="col-md-7" ng-show="authority.count > features.length">
         <i style="padding:10px;" class="fa fa-spinner fa-2x fa-spin" aria-hidden="true" ng-show="loading"></i>
         <a class="searched-important" ng-show="authority.count > features.length && !loading" ng-click="loadPage()">[more]</a>
      </div>
      <div class="col-md-7" ng-show="authority.count === features.length">
         <div class="ellipsis">(End of features for {{authority.name}})</div>
      </div>
      <div class="col-md-5">
         <span class="pull-right">
            Showing {{features.length | number : 0}} of {{authority.count| number : 0}} features
            <a ng-click="toggle()" class="searched-important">[hide]</a>
         </span>
      </div>
</div>