<div class="search-text">
   <div class="input-group input-group-sm">
      <input type="text" ng-model="state.filter" placeholder="Match by feature name..." ng-model-options="{ debounce: 300}" typeahead-on-select="select($item, $model, $label)"
         ng-disabled="state.searched" typeahead-template-url="placenames/search/typeahead.html" class="form-control" typeahead-min-length="0"
         uib-typeahead="doc as doc.name for doc in loadDocs(state.filter)" typeahead-loading="loadingLocations" typeahead-no-results="noResults"
         placenames-clear>

      <span class="input-group-btn">
         <button class="btn btn-primary" type="button" ng-click="search()" ng-disabled="state.searched">Search</button>
         <button class="btn btn-primary" type="button" ng-click="showFilters = !showFilters" ng-disabled="state.searched" title="SHow/hide filters such as authority, group, category and feature type">Filters...</button>
         <button class="btn btn-primary" type="button" ng-click="clear()" ng-show="state.searched">Clear Search Results</button>
      </span>
   </div>
</div>
<div class="filters" ng-show="showFilters" style="background-color: white; opacity:0.9">Showing filters</div>